language: php
php: 7

sudo: true

branches:
  only:
    - source

before_install:
  - phpenv config-rm xdebug.ini || true
  - composer self-update
  - echo -e "machine github.com\n  login $GH_TOKEN" >> ~/.netrc

install:
  - gem install sass
  - composer install --prefer-dist
  - sudo pip install Pygments
  - sudo python setup.py install

script: sh build.sh

after_success: if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then sh publish.sh; fi

env:
  global:
    secure: "r59rckvqgfFUfrqEr/JOQjLAlb8x2l81bvcbNtBM5+TuAKI3mEAOsHmXcPmcJTHdsKquGNi9HrVzL1m2DyNHcIEd4Pgmh8Pjy6mr1F4D55r8rW7IyPgvjii/7TWLElGEBIMtP7O5tup9vb7hMTazxmQcrxBT3qRuHAPkdphXnfs="
