/*-----------------------------------*\
    $NAVIGATION
\*-----------------------------------*/
.nav__item{
    @include font-size(18px);

    background:$light;
    @include vendor(box-shadow, 0px 1px 5px $shadow);
    @include vendor(transition, .1s ease);

    &:hover{
        background:$primary1;
    }

    &:active{
        @include vendor(box-shadow, 1px 2px 8px $text);
        @include vendor(transform, scale(1.1, 1.1));
    }
}
    .nav__item a{
        color:$secondaryText;

        &:hover{
            color:$lightText;
        }
    }
