/*-----------------------------------*\
    $PAGE
\*-----------------------------------*/
.page{
    @extend .brand-face;
    color:$text;
    width:100%;
    max-width:978px;
    margin:0 auto;
    background:#f9f9f9 url(/img/css/bg-grid.png);
}





.page__header{
    position:relative;
}
    .page__nav{
        float:right;
        margin-top:-90px;

        @include media-query(portable){
            width:571px;
            float:none;
            margin:20px auto;
        }

        @include media-query(palm){
            width:272px;

            .button__text{
                display:none;
            }
        }
    }

    .page__headline{
        margin-top:28px;

        @include media-query(portable){
            width:330px;
            margin:0 auto;
        }

        @include media-query(palm){
            width:235px;
            margin-bottom:14px;
        }
    }





.page__footer{
    @extend .post;
    background:$lightShade !important;
    color:$secondaryText;

    @include media-query(palm){
        @include font-size($milli-size);

        p{
            margin:0;
        }
    }
}
