/*-----------------------------------*\
    $SIDE
\*-----------------------------------*/
.side{
    border-left:5px solid $primary1;
    margin-left:$base-spacing-unit;
    padding:1.5 * $base-spacing-unit 0 $half-spacing-unit $half-spacing-unit;

    position:relative;

    &:before{
        content:attr(data-type);

        display:block;
        background:$primary1;
        color:$lightText;
        min-width:50px;

        @include font-size($milli-size);
        text-transform:uppercase;
        text-align:center;

        position:absolute;
        left:-5px;
        top:0;
    }
}
