/*-----------------------------------*\
    $SITE
\*-----------------------------------*/
.site-title{
    @extend .mega;

    @include media-query(palm){
        @include font-size(54px);
    }

    a{
        color:#555;
        text-decoration:none;
    }
}
.site-slogan{
    @include font-size(22px);
    font-weight:normal;
    word-spacing:1.5px;

    margin-top:1px;

    @include media-query(palm){
        @include font-size(16px);

        margin-top:-10px;
    }
}
