<!doctype html>
<html lang={{ site.language|default('nl') }}>
    <head>
        <meta charset=utf-8>

        <title>{{ page.title }}{% if page.slogan is defined %} | {{ page.slogan }}{% endif %}</title>
        
        {% block metadata %}
        <meta name=viewport content="width=device-width">
        {% endblock %}

        {% block stylesheets %}
        <link rel=stylesheet href=/css/wouterj.min.css>
        <link href=http://fonts.googleapis.com/css?family=Ubuntu+Mono|Roboto+Slab:700|Open+Sans:300italic,300,700 rel=stylesheet type=text/css>
        {% endblock %}
        
        {% block javascripts_head %}{% endblock %}
    </head>
    <body class=page itemscope itemtype="http://schema.org/WebPage">
        <header class=page__header>

            <hgroup class=page__headline>
                <h1 class="hN  site-title" itemprop="name"><a href="/">{{ site.title }}</a></h1>
                {% if site.slogan is defined %}
                <h3 class="hN  site-slogan">{{ site.slogan }}</h3>
                {% endif %}
            </hgroup>

            <nav class=page__nav>
                <ul class="nav  nav--block">
                    {% set category_nav = [
                        {
                            'path': '/categories/article',
                            'title': '<i class=icon>&#xF139;</i> <span class="button__text">Articles</span>'
                        },
                        {
                            'path': '/categories/news',
                            'title': '<i class=icon>&#xF0CA;</i> <span class="button__text">News</span>'
                        },
                        {
                            'path': '/categories/opinion',
                            'title': '<i class=icon>&#xF075;</i> <span class="button__text">Opinions</span>'
                        },
                        {
                            'path': '/categories/experiment',
                            'title': '<i class=icon>&#xF051;</i> <span class="button__text">Experiments</span>'
                        },
                    ] %}
                    {% for item in site.nav|merge(category_nav) %}
                    <li class="nav__item"><a href="{{ item.path }}">{{ item.title|raw }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        <div class=page__body itemscope itemtype="http://schema.org/Blog">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>

        <footer class="page__footer">
            <p>&copy; Copyright 2012 Wouter de Jong</p>
        </footer>

        {% block javascripts_body %}
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.ua_tracking }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
        {% endblock %}
    </body>
</html>
