.highlight { 
    .hll { background-color: #ffffcc }
    .c { color: #2e88fd } /* Comment */
    .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
    .g { color: #c7c8d2 } /* Generic */
    .k { color: #e5673d } /* Keyword */
    .l { color: #c7c8d2 } /* Literal */
    .n { color: #c7c8d2 } /* Name */
    .o { color: #e5673d } /* Operator */
    .x { color: #c7c8d2 } /* Other */
    .p { color: #999999 } /* Punctuation */
    .ch { color: #2e88fd } /* Comment.Hashbang */
    .cm { color: #2e88fd } /* Comment.Multiline */
    .cp { color: #2e88fd } /* Comment.Preproc */
    .cpf { color: #2e88fd } /* Comment.PreprocFile */
    .c1 { color: #2e88fd } /* Comment.Single */
    .cs { color: #2e88fd } /* Comment.Special */
    .gd { color: #c7c8d2; background-color: #e5413d } /* Generic.Deleted */
    .ge { color: #c7c8d2; font-style: italic } /* Generic.Emph */
    .gr { color: #ef2929 } /* Generic.Error */
    .gh { color: #000080 } /* Generic.Heading */
    .gi { color: #00A000 } /* Generic.Inserted */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #745334 } /* Generic.Prompt */
    .gs { color: #c7c8d2; font-weight: bold } /* Generic.Strong */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
    .kc { color: #e5673d } /* Keyword.Constant */
    .kd { color: #e5673d } /* Keyword.Declaration */
    .kn { color: #e5673d } /* Keyword.Namespace */
    .kp { color: #e5673d } /* Keyword.Pseudo */
    .kr { color: #e5673d } /* Keyword.Reserved */
    .kt { color: #e5673d } /* Keyword.Type */
    .ld { color: #c7c8d2 } /* Literal.Date */
    .m { color: #ebdc39 } /* Literal.Number */
    .s { color: #7cc64a } /* Literal.String */
    .na { color: #c7c8d2 } /* Name.Attribute */
    .nb { color: #c7c8d2 } /* Name.Builtin */
    .nc { color: #c7c8d2 } /* Name.Class */
    .no { color: #c7c8d2 } /* Name.Constant */
    .nd { color: #c7c8d2 } /* Name.Decorator */
    .ni { color: #c7c8d2 } /* Name.Entity */
    .ne { color: #cc0000 } /* Name.Exception */
    .nf { color: #c7c8d2 } /* Name.Function */
    .nl { color: #c7c8d2 } /* Name.Label */
    .nn { color: #c7c8d2 } /* Name.Namespace */
    .nx { color: #c7c8d2 } /* Name.Other */
    .py { color: #c7c8d2 } /* Name.Property */
    .nt { color: #e5673d } /* Name.Tag */
    .nv { color: #c7c8d2 } /* Name.Variable */
    .ow { color: #e5673d } /* Operator.Word */
    .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
    .mb { color: #ebdc39 } /* Literal.Number.Bin */
    .mf { color: #ebdc39 } /* Literal.Number.Float */
    .mh { color: #ebdc39 } /* Literal.Number.Hex */
    .mi { color: #ebdc39 } /* Literal.Number.Integer */
    .mo { color: #ebdc39 } /* Literal.Number.Oct */
    .sb { color: #7cc64a } /* Literal.String.Backtick */
    .sc { color: #7cc64a } /* Literal.String.Char */
    .sd { color: #2e88fd; font-style: italic } /* Literal.String.Doc */
    .s2 { color: #7cc64a } /* Literal.String.Double */
    .se { color: #7cc64a } /* Literal.String.Escape */
    .sh { color: #7cc64a } /* Literal.String.Heredoc */
    .si { color: #7cc64a } /* Literal.String.Interpol */
    .sx { color: #7cc64a } /* Literal.String.Other */
    .sr { color: #7cc64a } /* Literal.String.Regex */
    .s1 { color: #7cc64a } /* Literal.String.Single */
    .ss { color: #7cc64a } /* Literal.String.Symbol */
    .bp { color: #c7c8d2 } /* Name.Builtin.Pseudo */
    .vc { color: #c7c8d2 } /* Name.Variable.Class */
    .vg { color: #c7c8d2 } /* Name.Variable.Global */
    .vi { color: #c7c8d2 } /* Name.Variable.Instance */
    .il { color: #ebdc39 } /* Literal.Number.Integer.Long */
}
