/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$primary1:#cc3333;
$dark:#eeeeee;
$light:#111111;

$text:mix($dark, $light, 87%);
$secondaryText:mix($dark, $light, 54%);
$hintText:mix($dark, $light, 26%);
$dividers:mix($dark, $light, 5%);
$shadow:$secondaryText;
