/*-----------------------------------*\
    $NAVIGATION
\*-----------------------------------*/
.nav__item{
    @include font-size(18px);

    @include vendor(transition, .1s ease);

    &:hover{
        background:$primary1;

        a{
            text-decoration:none;
        }
    }

    &:active{
        @include vendor(transform, scale(1.1, 1.1));
    }
}
    .nav__item a{
        color:$secondaryText;

        &:hover{
            color:$lightText;
        }
    }
