/*-----------------------------------*\
    $NAVIGATION
\*-----------------------------------*/
.nav__item{
    @include font-size($h4-size);
    vertical-align: bottom;
}
    .nav__item a{
        color:$text;
    }
    .nav__item--current a{
        color:$primary1;
    }
