/*-----------------------------------*\
    $POST
\*-----------------------------------*/
.post{
    @extend .cf;

    background:$light;
    padding:$half-spacing-unit / 2 $half-spacing-unit;
    margin-top:$base-spacing-unit;

    position:relative;

    h1, h2, h3, h4, h5, h6{
        font-family: $title-face;
        font-weight:400;
    }

    ul,
    ol{
        margin-left:0;

        li{
            list-style:none;
            position:relative;

            &:after{
                color:$secondaryText;
                content:';';
            }
            &:last-child:after{
                content:'.';
            }

            &:before{
                @include media-query(desk){
                    position:absolute;
                    left:-2ch;
                }
                color:$secondaryText;
                padding-right:1ex;
            }
        }
    }

    ul li:before{
        content:'- ';
        font-weight:bold;
    }
    ol{
        counter-reset:list-counter;

        li{
            counter-increment:list-counter;

            &:before{
                content:counter(list-counter) ". ";
            }
        }
    }

    @include media-query(portable){
        padding-left:20px;
        padding-right:20px;
    }

    div.highlighter-shiki{
        @extend %sass-margin-bottom;
        line-height:1.5;

        @include media-query(desk) {
            width:calc(120% + 5ex);
            margin-left:calc(-10% - 5ex);
        }
        @include media-query(portable) {
            background:#1b1f28;

            .shiki-gutter{
                background:#242830;
            }
        }

        .shiki-gutter{
            float:left;
            width:5ex;
            padding:$half-spacing-unit $half-spacing-unit/2 $half-spacing-unit;

            color:$secondaryText;
            text-align:right;
        }
        .shiki-code{
            background:#1b1f28;
            padding:$half-spacing-unit;

            white-space:pre;
            word-wrap:normal;
            word-break:break-all;

            code{
                color:#c7c8d2;
            }
        }
    }
    .language-bash, .language-none, .language-terminal{
        .shiki-gutter{
            visibility:hidden;

            @include media-query(portable) {
                display:none;
            }
        }
    }
}
    .page--oss-list .post__heading, .page--post .post__heading{
        line-height:1.5;
        font-weight:800;
        padding-right:0;

        @include media-query(lap-and-up){
            @include font-size($giga-size);
        }

        &::after{
            content:'.';
            font-size:1.5em;
            line-height:0;
            color:$primary1;
        }
    }
    .post__heading{
        padding-right:100px;
        margin-bottom:$half-spacing-unit;
    }
    .post__heading--gamma{
        @extend .gamma;
    }
    .post__heading--beta{
        @extend .beta;
    }
    .post--featured .post__header,
    .post__heading--alpha{
        @extend .alpha;
    }
        .post__heading a{
            color:$text;
        }
    .post__entry{
        max-width:700px;
        margin:0 auto;

        &.post__entry--excerpt{
            max-width:100%;
        }
        a{
            color:$text;
            text-decoration:underline;

            &:hover{
                color:$primary1;
            }
        }
        img{
            display:block;
            margin:0 auto;
        }
    }
    .post__entry--excerpt{
        text-align:justify;
    }

.page--post, .page--oss-list, .post--featured{
    .post__entry--excerpt{
        @include font-size(20px);
        line-height:1.6;

        a{
            color:$text;
            text-decoration:underline;

            &:hover{
                color:$primary1;
            }
        }
    }
}
    .post__metadata{
        margin-bottom:$half-spacing-unit;
    }
        .post__published-date, .post__category{
            cursor:default;

            margin-right:.5 * $half-spacing-unit;
            padding:1px .5 * $half-spacing-unit;
            background:$primary1;
            color:$light;
        }
            .post__category__icon{
                font-family:Batch;
                @include font-size($h6-size)
            }

.post__thumbnail{
    @include media-query(portable) {
        max-width:100%;
        height:auto!important;
    }
}
.post__thumbnail--home{
    @include media-query(portable) {
        display:none;
    }
}
.post__comments{
    padding:10px;
}





/*-----------------------------------*\
    $POST_LIST
\*-----------------------------------*/
.post-list{
    p{
        margin-bottom:0;
    }
    .post--featured{
        margin-top:0;
    }

    .post{
        margin-top:$half-spacing-unit;

        &:nth-child(n+1) { clear:left; }
        &:before{
            content:'';
            display:block;
            position:absolute;
            top:-5px;
            left:0;
            width:100%;
            height:5px;
            background:#c33;
        }
    }

    .post__heading{
        padding-right:80px;
    }

    time{
        font-size:$milli-size;
    }

    .post__heading--beta{
        line-height:1.4;
    }

    .post__metadata{
        position:absolute;
        top:0;
        right:10px;

        float:left;
        padding:1px .5 * $half-spacing-unit;
        background:$primary1;
        color:$light;

        time{
            @include font-size($h6-size);
        }
    }

    .post__date{
        float:left;
        background:#fff;
        padding:10px;
        margin-right:10px;

        @include media-query(portable){
            float:none;
            margin-top:5px;
            display:inline-block;
        }
    }
}
.post-list--titles{
    margin-top:$half-spacing-unit;
    margin-left:0;
    padding-top:14px;
    border-top:5px solid $primary1;

    text-align:justify;
}
    .post--summary{
        list-style:none;
        display:inline;
        
        color:lighten($text, 10%);
        &.post--starred{
            color:$text;

            .post__heading{
                font-weight:600;
            }
        }

        .post__heading{
            display:inline;
            padding-right:0;
            font-weight:400;
            font-family:$title-face;
            line-height:1.8;

            a {
                color:inherit;
            }
        }

        .post__metadata{
            position:relative;
            float:none;
            display:inline-block;
            background:none;
            opacity:0.6;
            margin:0 $half-spacing-unit;
            line-height:$base-line-height;
            font-size:.8em;
            padding:0;
            color:inherit;

            @include vendor(transition, opacity .2s);
        }
        &:hover .post__category{
            opacity:1;
        }
    }

.post-table{
    table-layout: fixed;

    h2{
        margin:0;
    }

    tr{
        border-bottom:2px groove $dividers;
    }
        td:first-child{
            width:90px;
        }
        td:nth-child(2){
            width:80%;
        }
}

.post__slides{
    width:100%;
    min-height:200px;
    aspect-ratio:16/10;
    margin-bottom:$base-spacing-unit;

    @include media-query(desk) {
        width:120%;
        margin-left:-10%;
    }
}
