/*-----------------------------------*\
    $SECTION
\*-----------------------------------*/
.section-link{
    font-size:.8em;
    font-weight:normal;
    color:$hintText;
    text-align:right;
    width:-40px;

    position:absolute;

    @include vendor(transition, color .2s);

    @include media-query(portable){
        display:none;
    }
}

@each $str, $size in (
    '##': $h2-size,
    '###': $h3-size,
    '####': $h4-size,
    '#####': $h5-size,
    '######': $h6-size,
)
 {
    $h: str-length($str);
    h#{$h} .section-link {
        left:-#{$h + 1}ch;
        bottom:.1em;
        line-height:ceil($size / $base-line-height) * ($base-line-height / $size);

        &:before{
            content:$str;
        }
    }
}

.post{
    h1, h2, h3, h4, h5, h6{
        position:relative;

        &:hover .section-link{
            text-decoration:none;
            color:$dark;
        }
    }
}
