/*-----------------------------------*\
    $SIDE
\*-----------------------------------*/
.side{
    margin:$base-spacing-unit;
    margin-bottom:($base-spacing-unit / $base-font-size)*1rem;
    padding:1.5 * $base-spacing-unit 0 $half-spacing-unit $half-spacing-unit;
    background:$dividers;
    
    color:$secondaryText;

    position:relative;

    p{margin-bottom:0;}
    &:before{
        content:attr(data-type);

        display:block;
        color:lighten($dark, 23);
        min-width:50px;
        padding:0 6px;

        @include font-size($milli-size);
        text-transform:uppercase;
        text-align:center;

        position:absolute;
        left:0px;
        top:0;
    }
}
