/*-----------------------------------*\
    $SIDE
\*-----------------------------------*/
.side{
    @include media-query(desk){
        position:absolute;
        right:-75px;
        width:calc((100% - 600px) / 2);
    }
    @include media-query(portable){
        margin:$base-spacing-unit 0;
    }

    padding:$half-spacing-unit/2;
    background:$dividers;
    
    color:lighten($dark, 23);
    font-size:$milli-size;

    p{margin-bottom:$half-spacing-unit;}
    p:last-child{margin-bottom:0;}
    &:before{
        content:attr(data-type);

        display:block;

        @include font-size($h6-size);
        text-transform:uppercase;
        font-family:$title-face;
    }
    ul,ol{
        margin-left:3ex;
        margin-bottom:0;
    }
}
