/*-----------------------------------*\
    $SITE
\*-----------------------------------*/
.site-title{
    @extend .mega;
    font-family:$title-face;
    font-weight:400;

    @include media-query(portable){
        text-align:center;
        margin-top:$base-spacing-unit;
    }

    a{
        color:mix($text, $light, 80%);
        text-decoration:none;
    }
}
