/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$primary1:#cc3333;

$dark:#111111;
$text:rgba($dark, 0.87);
$secondaryText:rgba($dark, 0.54);
$hintText:rgba($dark, 0.26);
$dividers:rgba($dark, 0.12);
$shadow:$secondaryText;

$light:#fdfdfd;
$lightText:#fefefe;
$lightShade:#fcfcfc;
