.highlight .hll { background-color: #ffffcc }
.highlight  { background: #1b1f28; }
.highlight .c { color: #2e88fd } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #c7c8d2 } /* Generic */
.highlight .k { color: #e5673d } /* Keyword */
.highlight .l { color: #c7c8d2 } /* Literal */
.highlight .n { color: #c7c8d2 } /* Name */
.highlight .o { color: #e5673d } /* Operator */
.highlight .x { color: #c7c8d2 } /* Other */
.highlight .p { color: #999999 } /* Punctuation */
.highlight .ch { color: #2e88fd } /* Comment.Hashbang */
.highlight .cm { color: #2e88fd } /* Comment.Multiline */
.highlight .cp { color: #aaabbb } /* Comment.Preproc */
.highlight .cpf { color: #2e88fd } /* Comment.PreprocFile */
.highlight .c1 { color: #2e88fd } /* Comment.Single */
.highlight .cs { color: #2e88fd } /* Comment.Special */
.highlight .gd { color: #c7c8d2; background-color: #e5413d } /* Generic.Deleted */
.highlight .ge { color: #c7c8d2; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080 } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #745334 } /* Generic.Prompt */
.highlight .gs { color: #c7c8d2; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #e5673d } /* Keyword.Constant */
.highlight .kd { color: #e5673d } /* Keyword.Declaration */
.highlight .kn { color: #e5673d } /* Keyword.Namespace */
.highlight .kp { color: #e5673d } /* Keyword.Pseudo */
.highlight .kr { color: #e5673d } /* Keyword.Reserved */
.highlight .kt { color: #e5673d } /* Keyword.Type */
.highlight .ld { color: #c7c8d2 } /* Literal.Date */
.highlight .m { color: #ebdc39 } /* Literal.Number */
.highlight .s { color: #c7c8d2 } /* Literal.String */
.highlight .na { color: #c7c8d2 } /* Name.Attribute */
.highlight .nb { color: #c7c8d2 } /* Name.Builtin */
.highlight .nc { color: #c7c8d2 } /* Name.Class */
.highlight .no { color: #c7c8d2 } /* Name.Constant */
.highlight .nd { color: #c7c8d2 } /* Name.Decorator */
.highlight .ni { color: #c7c8d2 } /* Name.Entity */
.highlight .ne { color: #cc0000 } /* Name.Exception */
.highlight .nf { color: #c7c8d2 } /* Name.Function */
.highlight .nl { color: #c7c8d2 } /* Name.Label */
.highlight .nn { color: #c7c8d2 } /* Name.Namespace */
.highlight .nx { color: #c7c8d2 } /* Name.Other */
.highlight .py { color: #c7c8d2 } /* Name.Property */
.highlight .nt { color: #e5673d } /* Name.Tag */
.highlight .nv { color: #c7c8d2 } /* Name.Variable */
.highlight .ow { color: #e5673d } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mb { color: #ebdc39 } /* Literal.Number.Bin */
.highlight .mf { color: #ebdc39 } /* Literal.Number.Float */
.highlight .mh { color: #ebdc39 } /* Literal.Number.Hex */
.highlight .mi { color: #ebdc39 } /* Literal.Number.Integer */
.highlight .mo { color: #ebdc39 } /* Literal.Number.Oct */
.highlight .sb { color: #7cc64a } /* Literal.String.Backtick */
.highlight .sc { color: #7cc64a } /* Literal.String.Char */
.highlight .sd { color: #2e88fd; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #7cc64a } /* Literal.String.Double */
.highlight .se { color: #7cc64a } /* Literal.String.Escape */
.highlight .sh { color: #7cc64a } /* Literal.String.Heredoc */
.highlight .si { color: #7cc64a } /* Literal.String.Interpol */
.highlight .sx { color: #7cc64a } /* Literal.String.Other */
.highlight .sr { color: #7cc64a } /* Literal.String.Regex */
.highlight .s1 { color: #7cc64a } /* Literal.String.Single */
.highlight .ss { color: #7cc64a } /* Literal.String.Symbol */
.highlight .pi { color: #e5673d }
.highlight .bp { color: #c7c8d2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #c7c8d2 } /* Name.Variable.Class */
.highlight .vg { color: #c7c8d2 } /* Name.Variable.Global */
.highlight .vi { color: #c7c8d2 } /* Name.Variable.Instance */
.highlight .il { color: #ebdc39 } /* Literal.Number.Integer.Long */
