/*-----------------------------------*\
    $ICONS
\*-----------------------------------*/
@font-face{
    font-family:Batch;
    src:url('../libs/batch/batch-icons-webfont.eot');
    src:url('../libs/batch/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
        url('../libs/batch/batch-icons-webfont.woff') format('woff'),
        url('../libs/batch/batch-icons-webfont.ttf') format('truetype'),
        url('../libs/batch/batch-icons-webfont.svg#batchregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

.icon{
    font-family:Batch;
    font-style:normal;
    position:relative;
    top:1px;
}
