/*-----------------------------------*\
    $NAV
\*-----------------------------------*/
.nav__item{
    @include font-size(18px);

    background:#fff;
    box-shadow:0px 1px 2px #555;

    &:hover{
        background:rgba($brand-color, 1);
    }
}
    .nav__item a{
        color:#000;

        &:hover{
            color:#fff;
        }
    }
