/*-----------------------------------*\
    $PAGE
\*-----------------------------------*/
.page{
    @extend .brand-face;
    width:100%;
    max-width:978px;
    margin:0 auto;
    background:url(/img/css/bg-grid.png);
}





.page__header{
    position:relative;
}
    .page__nav{
        position:absolute;
        right:0;
        bottom:0;
    }

    .site-title{
        @extend .mega;
    }
        .site-title a{
            color:#000;
            text-decoration:none;
        }
    .site-slogan{
        font-size:27px;
        font-size:(27px / $base-font-size) * 1rem;
        font-weight:normal;
    }





.page__footer{
    @extend .post;
    border-top-color:#aaa !important;
}
