/*-----------------------------------*\
    $PAGE
\*-----------------------------------*/
.page{
    @extend .brand-face;
    width:100%;
    max-width:978px;
    margin:0 auto;
    background:url(/img/css/bg-grid.png);
}





.site-title{
    @extend .mega;
}
    .site-title a{
        color:#000;
        text-decoration:none;
    }





.page__footer{
    @extend .post;
    border-top-color:#aaa !important;
}
