/*-----------------------------------*\
    $POST
\*-----------------------------------*/
.post{
    @extend .cf;

    border-top:5px solid;
    background:#fff;
    box-shadow:0px 1px 2px #555;
    padding:$half-spacing-unit;
    margin-top:$base-spacing-unit;
}
    .post__heading--gamma{
        @extend .gamma;
    }
    .post__heading--beta{
        @extend .beta;
    }
    .post__heading--alpha{
        @extend .alpha;
    }
        .post__heading a{
            color:#000;
        }

.post__intro{
    @include font-size(20px);
    line-height:1.5;
}
.post--featured .post__entry--excerpt{
    @extend .post__intro;
}

// post types
.post--article{
    border-top-color:#c33;

    @include media-query(portable){
        padding-left:20px;
        padding-right:20px;
    }
}

.post__comments{
    box-shadow:0 -1px 3px #555;
    padding:10px;
}






/*-----------------------------------*\
    $POST_LIST
\*-----------------------------------*/
.post-list{
    @extend .block-list;
}
    .post-list .post__heading{
        margin-bottom:0;
    }
    .post-list .post__date{
        float:left;
        background:#fff;
        box-shadow:0px 1px 3px #555;
        padding:10px;
        margin-right:10px;

        @include media-query(portable){
            float:none;
            margin-top:5px;
            display:inline-block;
        }
    }
