/*-----------------------------------*\
    $POST
\*-----------------------------------*/
.post{
    @extend .cf;

    border-top:5px solid;
    background:#fff;
    box-shadow:0px 1px 2px #555;
    padding:$half-spacing-unit;
    margin-top:$base-spacing-unit;
}
    .post__heading--gamma{
        @extend .gamma;
    }
    .post__heading--beta{
        @extend .beta;
    }
    .post__heading--alpha{
        @extend .alpha;
    }
        .post__heading a{
            color:#000;
        }

.post--featured .post__entry--excerpt{
    @include font-size(20px);
    line-height:1.5;
}

// post types
.post--article{
    border-top-color:#c33;
}
