---
layout: default

---
<ul class="gw post-list" id="js-posts"><!--
    {% for post in paginator.posts %}
    {% if post.hide != true %}
    --><li class="g  one-whole  desk-half lap-half">
        <article class="post{% if forloop.first %}  post--featured{% endif %}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            {% if post.categories %}
            <span class="post__category">
            {% assign cat = post.categories|first %}
            {% if cat == 'article' %}
            &#xf139;
            {% elsif cat == 'opinion' %}
            &#xf075;
            {% elsif cat == 'news' %}
            &#xf0CA;
            {% elsif cat == 'experiment' %}
            &#xf051;
            {% elsif cat == 'idea' %}
            &#xf12C;
            {% endif %}
            </span>
            {% endif %}

            <h1 class="post__heading  post__heading{% if i == 1 %}--alpha{% elsif i == 2 %}--beta{% else %}--gamma{% endif %}" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
            {% if post.thumbnail and i != 2 -%}
            <img src="{{ site.url }}/img/{{ post.thumbnail }}" class="post__thumbnail  img--stripe  img--{% if i == 1 %}medium{% else %}short  post__thumbnail--home{% endif %}  img--left" itemprop="thumbnailUrl">
            {%- endif %}
            <div class="post__entry  post__entry--excerpt" itemprop="description">
                {{ post.excerpt }}
            </div>
        </article>
    </li><!--    {% endif %}{% endfor %}

    --><li class="g  one-half"></li>
</ul>

<nav>
{% if paginator.total_pages > 1 %}
    <nav class="article clearfix">
    {% if paginator.previous_page %}
        <a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Previous Page"><span class="title">Previous Page</span></a>
    {% endif %}

    {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="next Page"><span class="title">next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</nav>

<script>
(function ($, $$) {
    var posts = $$('.desk-one-half');
    for (var i = 0; (i + 1) < posts.length; i++) {
        var fst = $('.post', posts[i]);
        var snd = $('.post', posts[++i]);

        var fstHeight = parseFloat(window.getComputedStyle(fst)['height']);
        var sndHeight = parseFloat(window.getComputedStyle(snd)['height']);

        if (fstHeight > sndHeight) {
            snd.style.height = fstHeight + 'px';
        } else {
            fst.style.height = sndHeight + 'px';
        }
    }
})(
    function (selector, elem) { return (elem || document).querySelector(selector); },
    function (selector, elem) { return (elem || document).querySelectorAll(selector); }
);
</script>
