---
layout: default
pagination:
    enabled: true
    per_page: 20

---
<ul class="gw" id="js-posts">
    {% for post in page.pagination.items %}
    <li class="g  one-whole  desk-one-half  lap-one-half">
        <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post__heading  post__heading--gamma" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>

            {% if post.thumbnail and i != 2 %}
            <img src="{{ site.url }}/img/{{ post.thumbnail }}" class="post__thumbnail  img--stripe  img--{% if i == 1 %}medium{% else %}short  post__thumbnail--home{% endif %}  img--left" itemprop="thumbnailUrl">
            {% endif %}
            <div class="post__entry  post__entry--excerpt" itemprop="description">
                {{ post|excerpt }}
            </div>
        </article>
    </li>
    {% endfor %}

    <li class="g  one-twelfth"></li>
</ul>

<nav>
{% if paginator.total_pages > 1 %}
    <nav class="article clearfix">
    {% if paginator.previous_page %}
        <a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Previous Page"><span class="title">Previous Page</span></a>
    {% endif %}

    {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="next Page"><span class="title">next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</nav>

<script src="/libs/masonry/masonry.min.js"></script>
<script type="text/javascript">
var wall = new Masonry(document.querySelector('#js-posts'), {
    columnWidth: '.one-twelfth',
    itemSelector: '.g'
});
</script>
