<!doctype html>
<html lang={% if site.language %}{{ site.language }}{% else %}nl{% endif %}>
    <head>
        <meta charset=utf-8>

        <title>{% if page.title != null %}{{ page.title }} | Wouter J {% else %}Wouter J | Een script is meer dan code alleen{% endif %}</title>

        <meta name=viewport content="width=device-width">

        <link rel=stylesheet href=/css/wouterj.min.css> {% if site.related_posts %}

        <!-- Prettifier -->
        <script src="/libs/prettifier/google-code-prettify/prettify.js"></script>
        <link rel=stylesheet href="/libs/prettifier/prettifier.css">
        <script>
            window.onload = function() {
                prettyPrint();
            };
        </script>{% endif %}
    </head>
    <body class=page itemscope itemtype="http://schema.org/WebPage">
        <header class=page__header>

            <hgroup>
                <h1 class="hN  site-title" itemprop="name"><a href="/">Wouter J</a></h1>
                <h3 class="hN  site-slogan">A script is more than code</h3>
            </hgroup>

            <nav class=page__nav>
                <ul class="nav  nav--block">
                    {% for item in site.nav %}
                        <li class="nav__item"><a href="{{ item.path }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        <div class=page__body itemscope itemtype="http://schema.org/Blog">
            {{ content }}
        </div>

        <footer class="page__footer">
            <p>&copy; Wouter J 2013</p>
        </footer>

        <script src="js/analytics.js"></script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ site.vars.ua_tracking }}');ga('send','pageview');
        </script>
    </body>
</html>
