<!doctype html>
<html lang={% if site.language %}{{ site.language }}{% else %}nl{% endif %}>
    <head>
        <meta charset=ucs-bom>

        <title>{% if page.title != null %}{{ page.title }} | Wouter J {% else %}Wouter J | Een script is meer dan code alleen{% endif %}</title>

        <link rel=stylesheet href=/css/wouterj.min.css> {% if site.related_posts %}

        <!-- Prettifier -->
        <script src="/libs/prettifier/google-code-prettify/prettify.js"></script>
        <link rel=stylesheet href="/libs/prettifier/prettifier.css">
        <script>
            window.onload = function() {
                prettyPrint();
            };
        </script>{% endif %}
    </head>
    <body class=page>
        <header class=page__header>

            <hgroup>
                <h1 class="hN  site-title"><a href="/">Wouter J</a></h1>
                <h3 class="hN  site-slogan">A script is more than code</h3>
            </hgroup>
        </header>

        <div class=page__body>
            {{ content }}
        </div>

        <footer class="page__footer">
            <p>&copy; Wouter J 2013</p>
        </footer>
    </body>
</html>
