---
layout: default

---
<div class="post-list">
    {% for post in paginator.posts %}{% if post.hide != true %}
        {% if forloop.first %}
            <article class="post  post--featured" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                <span class="post__metadata">
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ post.date | date: "%^b '%y" }}
                    </time>
                    {% if post.categories %}
                        <span class="post__category__icon">
                            {% assign cat = post.categories|first %}
                            {% if cat == 'article' %}
                            &#xf139;
                            {% elsif cat == 'experiment' %}
                            &#xf051;
                            {% elsif cat == 'link' %}
                            &#xF10E;
                            {% endif %}
                        </span>
                    {% endif %}
                </span>

                <h1 class="post__heading  post__heading--alpha" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
                {% if post.thumbnail and i != 2 -%}
                <img src="{{ site.url }}/img/{{ post.thumbnail }}" class="post__thumbnail  img--stripe  img--{% if i == 1 %}medium{% else %}short  post__thumbnail--home{% endif %}  img--left" itemprop="thumbnailUrl">
                {%- endif %}
                <div class="post__entry  post__entry--excerpt" itemprop="description">
                    {{ post.excerpt }}
                </div>
            </article>
        {% elsif forloop.index < 4 %}
            {% if forloop.index == 2 %}<ul class="gw">{% endif %}
                <li class="g  one-whole  desk-one-half"><article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                <span class="post__metadata">
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ post.date | date: "%^b '%y" }}
                    </time>
                    {% if post.categories %}
                        <span class="post__category__icon">
                            {% assign cat = post.categories|first %}
                            {% if cat == 'article' %}
                            &#xf139;
                            {% elsif cat == 'experiment' %}
                            &#xf051;
                            {% elsif cat == 'link' %}
                            &#xF10E;
                            {% endif %}
                        </span>
                    {% endif %}
                </span>

                <h1 class="post__heading  post__heading--beta" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
                {% if post.thumbnail and i != 2 -%}
                <img src="{{ site.url }}/img/{{ post.thumbnail }}" class="post__thumbnail  img--stripe  img--{% if i == 1 %}medium{% else %}short  post__thumbnail--home{% endif %}  img--left" itemprop="thumbnailUrl">
                {%- endif %}
                <div class="post__entry  post__entry--excerpt" itemprop="description">
                    {{ post.excerpt }}
                </div>
            </article></li>
            {% if forloop.index == 3 %}</ul>{% endif %}
        {% else %}
            {% if forloop.index == 4 %}<ul class="post-list--titles">{% endif %}
                <li class="post--summary {% if post.star %}post--starred{% endif %}">
                    <h4 class="post__heading  post__heading--beta" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h4>{% unless forloop.last %};{% endunless %}<!--
            --></li>
        {% endif %}
    {% endif %}{% endfor %}
    </ul>

    <ul class="gw">
        <li class="g  one-whole  desk-one-half">
            <article itemscope itemtype="http://schema.org/Article">
                <h1 class="post__heading  post__heading--gamma" itemprop="headline">GitHub</h1>

                <div class="post__entry  post__entry--excerpt" itemprop="articleBody">
                    <p>I'm a big fan of Open Source. I'm currently active as a Symfony <a href="https://github.com/symfony/symfony-docs">Docs</a> and <a href="https://github.com/symfony/symfony">Core</a> team member. You'll be my hero if you contribute to Open Source projects too!</p>
                </div>
            </article>
        </li><!--

        --><li class="g  one-whole  desk-one-half">
            <article itemscope itemtype="http://schema.org/Article">
                <h1 class="post__heading  post__heading--gamma" itemprop="headline">Contact</h1>

                <div class="post__entry  post__entry--excerpt" itemprop="articleBody">
                    <p>You can contact me on <a href="https://github.com/wouterj">GitHub</a> or <a href="https://symfony.com/slack">Symfony Slack</a>.</p>
                </div>
            </article>
        </li><!--

        --><li class="g  one-half"></li>
    </ul>
</div>
