---
layout: default
---
<article class="post{% if page.type != null %}  post--{{ page.type }}{% endif %}" itemscope itemtype="http://schema.org/Blog">
    <h1 class="post__heading" itemprop="headline">{{ page.title }}</h1>

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li class="post--{{ post.categories }}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <time class="post__date" datetime="{{ post.date|date_to_xmlschema }}" itemprop="dateCreated">{{ post.date|date:"%d %b" }}</time>
            <h2 class="post__heading" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
        </li>
        {% endfor %}
    </ul>

    <nav>
        <ul class="nav  pagination-nav">
        {% if paginator.previous_page %}
            <li class="btn"><a href="{{ paginator.base_url }}/page/{{ paginator.previous_page }}">Vorige</a></li>
        {% else %}
            <li class="btn  btn--disabled">Vorige</li>
        {% endif %}
        {% if paginator.next_page %}
            <li class="btn"><a href="{{ paginator.base_url }}/page/{{ paginator.next_page }}">Volgende</a></li>
        {% else %}
            <li class="btn  btn--disabled">Volgende</li>
        {% endif %}
        </ul>
    </nav>
</article>
