---
layout: default
---
<article class="post{% if page.type != null %}  post--{{ page.type }}{% endif %}">
    <h1 class="post__heading">{{ page.title }}</h1>

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li class="post--{{ post.categories }}">
            <time class="post__date" datetime="{{ post.date|date_to_xmlschema }}">{{ post.date|date:"%d %b" }}</time>
            <h2 class="post__heading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </li>
        {% endfor %}
    </ul>
    {% if paginator.previous_page %}
        <a href="/archive/page/{{ paginator.previous_page }}" class="previous">Vorige</a>
    {% else %}
        <span class="previous">Vorige</span>
    {% endif %}
    {% if paginator.next_page %}
        <a href="/archive/page/{{ paginator.next_page }}" class="next">Volgende</a>
    {% else %}
        <span class="next">Volgende</span>
    {% endif %}
</article>
