---
layout: default
type: oss-list

---
<article class="post">
    <h1 class="post__heading" itemprop="headline">My Open Source Wishlist</h1>

    <div itemprop="articleBody">
        <div class="post__entry--excerpt">
            {{ content | markdownify }}
        </div>

        <div class="post__entry">
            <p class="zeta">
            <span class="ticket-icon-legenda"></span>&nbsp;actionable, ready to go!
            &nbsp;<span class="ticket-icon-legenda"></span>&nbsp;there is a rough idea, but happy to discuss further
            <span class="ticket-icon-legenda"></span>&nbsp;this is just an idea in my mind, let's have a chat
            </p>
            <ul class="tickets-list">
                <li class="ticket--actionable">
                    <span class="ticket__title">Share something you've learned this week</span>
                    Each week you write code, you learn something. If you think
                    it's easy, it's because you've mastered that something.
                    Consider sharing how to do the things you think are easy,
                    this will massively help people in your community!
                </li>

                {% for ticket in site.data.oss %}
                <li class="ticket--{{ ticket.difficulty }}">
                    <a class="ticket__title" href="{{ ticket.url }}">
                        {{ ticket.title }} in <code class="ticket__project">{{ ticket.repo }}</code>
                    </a>
                    {% if ticket.notes %}{{ ticket.notes }}{% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>
