---
layout: default
type: post

---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.categories %}
        <span class="post__category">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%^b '%y" }}
        </time>
        {% assign cat = page.categories|first %}
        {% if cat == 'article' %}
        &#xf139;
        {% elsif cat == 'experiment' %}
        &#xf051;
        {% elsif cat == 'link' %}
        &#xF10E;
        {% endif %}
        </span>
    {% endif %}

    <h1 class="post__heading" itemprop="headline">{{ page.title | escape }}</h1>

    {% if page.thumbnail %}
    <img src="{{ site.url }}/img/{{ page.thumbnail }}" class="post__thumbnail  img--stripe  img--short  img--right" itemprop="thumbnailUrl">
    {% endif %}

    <div itemprop="articleBody">
        <div class="post__excerpt">
            {% assign excerpt = content|replace_first: '</p>', '</p></div><div class="post__entry">' %}
            {% include anchor_headings.html html=excerpt beforeHeading=true anchorClass='section-link' %}
        </div>
    </div>

    {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
    {%- endif -%}
</article>
