---
layout: default

---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.categories %}
        <span class="post__category">
        {% assign cat = page.categories|first %}
        {% if cat == 'article' %}
        &#xf139;
        {% elsif cat == 'opinion' %}
        &#xf075;
        {% elsif cat == 'news' %}
        &#xf0CA;
        {% elsif cat == 'experiment' %}
        &#xf051;
        {% elsif cat == 'idea' %}
        &#xf12C;
        {% endif %}
        </span>
    {% endif %}

    <h1 class="post__heading" itemprop="headline">{{ page.title | escape }}</h1>
    <!--
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
    </time>
    -->

    {% if page.thumbnail %}
    <img src="{{ site.url }}/img/{{ page.thumbnail }}" class="post__thumbnail  img--stripe  img--short  img--left" itemprop="thumbnailUrl">
    {% endif %}

    <div class="post__entry" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
    {%- endif -%}
</article>
