---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 10
use:
    - posts
---
{% block content %}
{% set i = 1 %}
<ul class="gw" id="js-posts">
    {% for post in page.pagination.items %}
    <li class="g  one-whole  desk-{% if i == 1 %}eight-twelfths{% elseif i == 2 %}four-twelfths{% else %}one-half{% endif %}">
        <article class="post{% if post.categories %}  post--{{ post.categories|first }}{% endif %}{% if i == 1 or i == 2 %}  post--featured{% endif %}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post__heading  post__heading{% if i == 1 %}--alpha{% elseif i == 2 %}--beta{% else %}--gamma{% endif %}" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>

            {% if post.thumbnail and i != 2 %}
            <img src="{{ site.url }}/img/{{ post.thumbnail }}" class="post__thumbnail  img--stripe  img--{% if i == 1 %}medium{% else %}short  post__thumbnail--home{% endif %}  img--left" itemprop="thumbnailUrl">
            {% endif %}
            <div class="post__entry  post__entry--excerpt" itemprop="description">
                {{ post|excerpt }}
            </div>
        </article>
    </li>

    {% set i = i + 1 %}
    {% endfor %}

    <li class="g  one-whole  desk-one-half">
        <article class="post  post--about" itemscope itemtype="http://schema.org/Article">
            <h1 class="post__heading  post__heading--gamma" itemprop="headline">GitHub</h1>

            <div class="post__entry" itemprop="articleBody">
                <p>I'm a big fan of Open Source. I'm working on a daily basis on the <a href="http://github.com/symfony/symfony-docs/">Symfony docs</a> and the <a href="http://github.com/symfony-cmf">Symfony CMF</a>. You'll be my hero if you contribute to Open Source projects too!</p>
                </p>
            </div>
        </article>
    </li>

    <li class="g  one-whole  desk-one-half">
        <article class="post  post--about" itemscope itemtype="http://schema.org/Article">
        	<h1 class="post__heading  post__heading--gamma" itemprop="headline">Contact</h1>

        	<div class="post__entry" itemprop="articleBody">
                <p>You can contact me on <a href="http://github.com/WouterJ">GitHub</a>, <a href="http://twitter.com/wouterjnl">Twitter</a>, IRC (WouterJ), <a href="http://stackoverflow.com/users/1149495/wouter-j">StackOverflow</a>, <a href="http://www.phphulp.nl/profiel/wouter-j/23590/">PHPhulp</a> or <a href="mailto:wouter@wouterj.nl">by mail</a>.
        	</div>
        </article>
    </li>
</ul>
{% endblock %}

{% block javascripts_body %}
<script src="/libs/masonry/masonry.min.js"></script>
<script type="text/javascript">
!function() {
    var wall = new Masonry(document.getElementById('js-posts'), {
        columnWidth: function (width) {
            return width / 12;
        },
    });
}();
</script>
{% endblock %}
